<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
    xmlns:gap = "http://phonegap.com/ns/1.0"
    id        = "com.phonegap.example"
    version   = "1.0.0">

<name>Vista SmartParking S3</name>

<description>
Aplicacion para ver cantidad de puestos en un estacionamiento
</description>

<author href="https://example.com" email="jesusegarcia@gmail.com">
Jesus Garcia Desarrollador de Vista Technology Development
</author>
<access origin="*" subdomains="true"/>
<icon src="img/icon.png" />
</widget>
